.btn-primary,
.btn-primary:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-success,
.btn-success:hover {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.btn-danger,
.btn-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-warning,
.btn-warning:hover {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-info,
.btn-info:hover {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

button[class^="btn"]:focus {
  box-shadow: none;
}

.alert {
  position: relative;
  padding: 16px;
  margin-bottom: 8px;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 6px;
}

.alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}

[contenteditable="true"] {
  border-radius: 6px;
  padding: 10px;
  background-color: var(--background);
  color: var(--form-text);
  transition: box-shadow 0.1s linear;
}

[contenteditable="true"]:focus {
  box-shadow: 0 0 0 2px var(--focus);
  outline: none;
}

#elementsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 8px;
}

#elementsContainer:empty {
  display: none;
}

#elementsContainer div {
  border: 1px solid var(--text-main);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
